@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

/* container section */
.container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95%;
    width: 98%;
}

/* left side of the site */
#left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 98%;
    width: 15%;
}

.record {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 32px;
    width: 101px;
    border-radius: 30px;
    cursor: pointer;
}

.red {
    color: red;
}

span {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.gallery {
    cursor: pointer;
}

.tools-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4c4c6c;
    height: 40%;
    width: 60px;
    border-radius: 10px;
}

.tool {
    background-color: #e8f6ef;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.tool:hover {
    transform: scaleX(1.05);
}

/* tools option */
.tools-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pen-option {
    position: absolute;
    display: none;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    background-color: #2c2c51;
    padding: 12px;
    left: 149px;
    top: 150px;
    z-index: 10;
    border-radius: 26px;
}

.color-section {
    padding: 5px;
}

.eraser-option {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2c51;
    padding: 12px;
    left: 149px;
    top: 210px;
    z-index: 10;
    border-radius: 26px;
}

#color-picker {
    height: 25px;
    width: 25px;
}

.select {
    display: flex;
}

.video-circle {
    border-radius: 50%;
    object-fit: cover;
}

/* right side of the side */
#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 98%;
    width: 80%;
}

.board {
    position: relative;
    background-color: #4c4c6c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 100%;
}

#myCanvas {
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
}

.board-color {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stop-btn {
    position: absolute;
    background-color: red;
    border-radius: 5px;
    left: 470px;
    cursor: pointer;
}

.download-btn {
    position: absolute;
    background-color: black;
    border-radius: 5px;
    left: 550px;
    cursor: pointer;
}

h5 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 10px 15px;
}

.black {
    color: #000;
    padding: 0 15px;
}

.white {
    color: #fff;
    padding: 0 15px;
}
